@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}

.timeline__content-title {
  font-weight: normal;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: "Pathway Gothic One", sans-serif;
  color: #fff;
}

.timeline__content-title:hover {
  color: #000;
  font-size: 68px;
}

.timeline__content-desc {
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  font-family: "Cardo";
  font-weight: normal;
  line-height: 25px;
}

.timeline::before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}

@media only screen and (max-width:767px) {
  .timeline::before {
    left: 40px;
  }
}

.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}

.timeline-item::before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: #000;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border-left: 2px solid black;
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}

.timeline-item:nth-child(even) {
  align-self: flex-end;
}

.timeline-item:nth-child(even)::before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid black;
  padding-right: 15px;
  font-size: 15px;
}

.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}

.timeline-item--active::before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}

.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}

@media only screen and (max-width:767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }

  .timeline-item::before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }

  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}

.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;

}

.timeline-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
}

.timeline-header {
  letter-spacing: 2px;
  font-family: "Rubik";
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-family: "Cardo";
  font-weight: normal;
  margin: 0;
}

.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

#tes {
  opacity: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-navbar {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.alc {
  align-items: center;
}

.jcb {
  justify-content: space-between;
}

.header {
  background-color: #e8eef3;
  padding: 12px 0;
  line-height: 1.5;
  width: 100%;
  z-index: 100000;
  -webkit-box-shadow: 0px -38px 92px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -38px 92px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -38px 92px -8px rgba(0, 0, 0, 0.75);
}

.header .nav,
.header .logo {
  padding: 0 15px;
}

.header .logo a {
  font-size: 30px;
  font-weight: 500;
  color: #222;
  font-family: 'Poppins', sans-serif;
}

.header .nav ul {
  cursor: default;
}

.header .nav ul li {

  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  font-family: 'Rubik', sans-serif;
  display: block;
  color: #000;
  padding: 10px 0;
  transition: all .3s ease;
}

.header .nav ul li a:hover {
  color: #f3a93d;
}